<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Comical.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Comical.Properties.Settings>
            <setting name="EditorWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="EditorWindowBounds" serializeAs="String">
                <value>0, 0, 800, 600</value>
            </setting>
            <setting name="DefaultSavedFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="HasUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentAuthors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="DockPanelConfiguration" serializeAs="String">
                <value />
            </setting>
        </Comical.Properties.Settings>
    </userSettings>
</configuration>