<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="{C703A05F-3AFE-4421-B030-75BDC7B1F538}" Codepage="932" Language="!(loc.Language)" Manufacturer="takumi" Name="Comical" UpgradeCode="{2E73E334-4D49-4BBF-8BEC-E210EF49DD6E}" Version="4.4.13">
		<Package Compressed="yes" InstallerVersion="400" Languages="1041" Manufacturer="takumi" SummaryCodepage="932" Platform="x64" InstallScope="perMachine" />
		<Media Id="1" Cabinet="components" EmbedCab="yes" />
		<PropertyRef Id="NETFRAMEWORK45"/>
		<Condition Message="!(loc.InstallNetFramework45)">Installed OR NETFRAMEWORK45</Condition>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="ManufacturerDirectory" Name="takumi">
					<Directory Id="INSTALLDIR" Name="Comical">
						<Component Id="C_WeifenLuo.WinFormsUI.Docking.dll" Guid="{93FBAC71-EB15-F81B-0F07-D50C1557B141}">
							<File
								Id="WeifenLuo.WinFormsUI.Docking.dll" Name="WeifenLuo.WinFormsUI.Docking.dll" KeyPath="yes"
								Assembly=".net" AssemblyManifest="WeifenLuo.WinFormsUI.Docking.dll" AssemblyApplication="WeifenLuo.WinFormsUI.Docking.dll"
								Source="$(var.Comical.TargetDir)WeifenLuo.WinFormsUI.Docking.dll" />
						</Component>
						<Component Id="C_Microsoft.WindowsAPICodePack.Shell.dll" Guid="{71ADE1F1-92A8-38BA-0BA2-EF2461AB0D6B}">
							<File
								Id="Microsoft.WindowsAPICodePack.Shell.dll" Name="Microsoft.WindowsAPICodePack.Shell.dll" KeyPath="yes"
								Assembly=".net" AssemblyManifest="Microsoft.WindowsAPICodePack.Shell.dll" AssemblyApplication="Microsoft.WindowsAPICodePack.Shell.dll"
								Source="$(var.Comical.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
						</Component>
						<Component Id="C_Microsoft.WindowsAPICodePack.dll" Guid="{B753735C-40C2-2047-505A-6BBA14D141C8}">
							<File
								Id="Microsoft.WindowsAPICodePack.dll" Name="Microsoft.WindowsAPICodePack.dll" KeyPath="yes"
								Assembly=".net" AssemblyManifest="Microsoft.WindowsAPICodePack.dll" AssemblyApplication="Microsoft.WindowsAPICodePack.dll"
								Source="$(var.Comical.TargetDir)Microsoft.WindowsAPICodePack.dll" />
						</Component>
						<Component Id="C_HtmlAgilityPack.dll" Guid="{1BF5B26F-E635-481F-A01D-523157600064}">
							<File
								Id="HtmlAgilityPack.dll" Name="HtmlAgilityPack.dll" KeyPath="yes"
								Assembly=".net" AssemblyManifest="HtmlAgilityPack.dll" AssemblyApplication="HtmlAgilityPack.dll"
								Source="$(var.Comical.TargetDir)HtmlAgilityPack.dll" />
						</Component>
						<Component Id="C_Comical.exe" Guid="{79CAE661-FFD4-D2A5-9E1F-27B59CCD947F}">
							<File Id="Comical.exe" Name="Comical.exe" KeyPath="yes" ShortName="COMICAL.EXE" Assembly=".net" AssemblyManifest="Comical.exe" AssemblyApplication="Comical.exe" Source="$(var.Comical.TargetPath)">
								<Shortcut Id="ComicalStartMenuShortcut" Directory="ProgramMenuFolder" Name="Comical" Icon="Comical.ico" IconIndex="0" WorkingDirectory="TARGETDIR" Advertise="yes"/>
							</File>
							<ProgId Id="Comical.ImageCollection.1" IconIndex="0" Description="Comical Image Collection File">
								<Extension Id="cic">
									<Verb Id="open" Command="!(loc.OpenCommand)" TargetFile="Comical.exe" Argument="/View &quot;%1&quot;"/>
									<Verb Id="edit" Command="!(loc.EditCommand)" TargetFile="Comical.exe" Argument="&quot;%1&quot;"/>
								</Extension>
							</ProgId>
						</Component>
						<Component Id="C_FileVersionViewer.exe" Guid="{42F7A306-84EE-9501-3851-2A649B25C9DA}">
							<File
								Id="FileVersionViewer.exe" Name="FileVersionViewer.exe" KeyPath="yes"
								Assembly=".net" AssemblyManifest="FileVersionViewer.exe" AssemblyApplication="FileVersionViewer.exe"
								Source="$(var.FileVersionViewer.TargetPath)" />
						</Component>
						<Component Id="C_Comical.exe.config" Guid="{423BFEDF-7732-FB9C-1BA1-509BDF6BDF7B}">
							<File
								Id="Comical.exe.config" Name="Comical.exe.config" KeyPath="yes"
								Source="$(var.Comical.TargetPath).config" />
						</Component>
						<Component Id="C_ArchiversManager.exe.config" Guid="{A7AB91AF-9BFA-92DB-3A91-F76CBE2FBA11}">
							<File
								Id="ArchiversManager.exe.config" Name="ArchiversManager.exe.config" KeyPath="yes"
								Source="$(var.ArchiversManager.TargetPath).config" />
						</Component>
						<Component Id="C_ArchiversManager.exe" Guid="{EE132471-393D-E9DF-3DC9-0F84615BBFA6}">
							<File
								Id="ArchiversManager.exe" Name="ArchiversManager.exe" KeyPath="yes"
								Assembly=".net" AssemblyManifest="ArchiversManager.exe" AssemblyApplication="ArchiversManager.exe"
								Source="$(var.ArchiversManager.TargetPath)"/>
						</Component>
						<Component Id="C_ComicalCore.dll" Guid="{A9525028-FF66-4B74-88EC-163A656C0950}">
							<File
								Id="ComicalCore.dll" Name="ComicalCore.dll" KeyPath="yes"
								Assembly=".net" AssemblyManifest="ComicalCore.dll" AssemblyApplication="ComicalCore.dll"
								Source="$(var.ComicalCore.TargetPath)"/>
						</Component>
						<Component Id="C_CommonLibrary.dll" Guid="{A08A30E9-BCF8-439C-AA1F-67707EE91FAC}">
							<File
								Id="CommonLibrary.dll" Name="CommonLibrary.dll" KeyPath="yes"
								Assembly=".net" AssemblyManifest="CommonLibrary.dll" AssemblyApplication="CommonLibrary.dll"
								Source="$(var.CommonLibrary.TargetPath)"/>
						</Component>
						<Directory Id="ResourceDirectory" Name="ja-JP">
							<Component Id="C_Comical.resources.dll" Guid="{A1A9313E-EB65-5958-0198-5CFF4C5E51C2}">
								<File
									Id="Comical.resources.dll" Name="Comical.resources.dll" KeyPath="yes"
									Assembly=".net" AssemblyManifest="Comical.resources.dll" AssemblyApplication="Comical.resources.dll"
									Source="$(var.Comical.TargetDir)ja-JP\Comical.resources.dll" />
							</Component>
							<Component Id="C_FileVersionViewer.resources.dll" Guid="{A2E746D5-D5F0-4464-B2B0-938FB723EB58}">
								<File
									Id="FileVersionViewer.resources.dll" Name="FileVersionViewer.resources.dll" KeyPath="yes"
									Assembly=".net" AssemblyManifest="FileVersionViewer.resources.dll" AssemblyApplication="FileVersionViewer.resources.dll"
									Source="$(var.FileVersionViewer.TargetDir)ja-JP\FileVersionViewer.resources.dll"/>
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="ManufacturerDirectory64" Name="takumi">
					<Directory Id="INSTALLDIR64" Name="Comical">
						<Component Id="C_ComicFileHandler.dll" Guid="{B32A08B6-EB9B-4880-B05B-0E8714668BD9}" Win64="yes">
							<File
								Id="ComicFileHandler.dll" Name="ComicFileHandler.dll" KeyPath="yes"
								Source="$(var.ComicFileHandler.ProjectDir)$(var.ComicFileHandler.Configuration)\$(var.ComicFileHandler.TargetFileName)" />
							<Class Id="001823E8-247E-4685-BD84-350347B0460C" Advertise="yes" Context="InprocServer32" Description="Comic Property Handler" ThreadingModel="apartment"/>
							<Class Id="4423CDF9-0C1B-4F23-8CC4-BA634252CD6A" Advertise="yes" Context="InprocServer32" Description="Comic Thumbnail Provider" ThreadingModel="apartment"/>
							<RegistryValue Root="HKCR" Key="Comical.ImageCollection.1" Type="string" Name="FriendlyTypeName" Value='@"[INSTALLDIR64]ComicFileHandler.dll",-101'/>
							<RegistryValue Root="HKCR" Key="Comical.ImageCollection.1" Type="string" Name="InfoTip" Value="prop:System.ItemType;System.Author;System.Size;System.DateModified"/>
							<RegistryValue Root="HKCR" Key="Comical.ImageCollection.1" Type="string" Name="FullDetails" Value="prop:System.PropGroup.Description;System.Title;System.Author;System.Document.DateCreated;System.Keywords;System.FileVersion;System.PropGroup.FileSystem;System.ItemNameDisplay;System.ItemType;System.ItemFolderPathDisplay;System.Size;System.DateCreated;System.DateModified;System.DateAccessed;System.FileAttributes;System.OfflineAvailability;System.OfflineStatus;System.SharedWith;System.FileOwner;System.ComputerName"/>
							<RegistryValue Root="HKCR" Key="Comical.ImageCollection.1" Type="string" Name="PreviewDetails" Value="prop:System.Title;System.Author;System.Document.DateCreated;System.Keywords;System.DateModified;System.Size;System.FileVersion;System.DateCreated;System.SharedWith"/>
							<RegistryValue Root="HKCR" Key="Comical.ImageCollection.1" Type="string" Name="ContentViewModeForBrowse" Value="prop:~System.ItemNameDisplay;~System.Author;System.FileVersion;~System.LayoutPattern.PlaceHolder;System.Document.DateCreated;System.Size"/>
							<RegistryValue Root="HKCR" Key="Comical.ImageCollection.1" Type="string" Name="ContentViewModeLayoutPatternForBrowse" Value="delta"/>
							<RegistryValue Root="HKCR" Key="Comical.ImageCollection.1" Type="string" Name="ContentViewModeForSearch" Value="prop:~System.ItemNameDisplay;System.Document.DateCreated;~System.ItemFolderPathDisplay;~System.Keywords;System.Size;System.Author"/>
							<RegistryValue Root="HKCR" Key="Comical.ImageCollection.1" Type="string" Name="ContentViewModeLayoutPatternForSearch" Value="alpha"/>
							<RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\PropertySystem\PropertyHandlers\.cic" Type="string" Value="{001823E8-247E-4685-BD84-350347B0460C}"/>
							<RegistryValue Root="HKCR" Key="Comical.ImageCollection.1\ShellEx\{e357fccd-a995-4576-b01f-234630154e96}" Type="string" Value="{4423CDF9-0C1B-4F23-8CC4-BA634252CD6A}"/>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" />
		</Directory>
		<Feature Id="Complete" ConfigurableDirectory="TARGETDIR" Level="1">
			<ComponentRef Id="C_WeifenLuo.WinFormsUI.Docking.dll" />
			<ComponentRef Id="C_Microsoft.WindowsAPICodePack.Shell.dll" />
			<ComponentRef Id="C_Microsoft.WindowsAPICodePack.dll" />
			<ComponentRef Id="C_HtmlAgilityPack.dll" />
			<ComponentRef Id="C_Comical.exe" />
			<ComponentRef Id="C_Comical.resources.dll" />
			<ComponentRef Id="C_ComicFileHandler.dll" />
			<ComponentRef Id="C_Comical.exe.config" />
			<ComponentRef Id="C_ArchiversManager.exe.config" />
			<ComponentRef Id="C_ArchiversManager.exe" />
			<ComponentRef Id="C_ComicalCore.dll"/>
			<ComponentRef Id="C_CommonLibrary.dll"/>
			<ComponentRef Id="C_FileVersionViewer.exe" />
			<ComponentRef Id="C_FileVersionViewer.resources.dll" />
		</Feature>
		<Icon Id="Comical.ico" SourceFile="$(var.Comical.ProjectDir)Comical.ico" />
		<Property Id="ARPCONTACT" Value="takumi" />
		<Property Id="ARPPRODUCTICON" Value="Comical.ico" />

		<UIRef Id="MyWixUI_Minimal"/>
		<UIRef Id="WixUI_ErrorProgressText"/>
	</Product>
</Wix>